<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script>
        function f(evt) {
            // console.log(evt);
            console.log(evt.target);
            console.log(evt.target.value);
        }


    </script>
</head>

<body>

    <input type='text' onkeyup="f(event)" onChange="f(event)" />
    <button value="Click" onClick="f(event)">Click Me</button>
</body>

</html>